:root {

    /* colors */
    --blue-50: hsla(228, 100%, 99%, 1);
    --blue-100:hsla(225, 76%, 93%, 1);
    --blue-300:hsla(245, 83%, 68%, 1);
    --blue-500:hsla(245, 75%, 52%, 1);
    --blue-800:hsla(223, 46%, 23%, 1);


    --gray-100:hsla(223, 23%, 55%, 1);
    --gray-200:hsla(224, 23%, 55%, 1);


    
    /* fonts */
    --ff: 'Red Hat Display', sans-serif;

    --fs-50: 0.8125rem;
    --fs-100: 0.875rem;
    --fs-200: 0.9375rem;
    --fs-500: 1rem;
    --fs-600: 1.375rem;
    --fs-700: 1.75rem;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 900;


}

*{
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}


body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--blue-100);

}

.card-container {
    background-color: white;
    width: 450px;
    height: 697px;
    margin: 102px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.main-area{
    padding: 0 3rem;
}

.card-container > img {
    margin-bottom: 2.8125rem;
    border-radius: 20px 20px 0 0;
}

.title {
    color: var(--dark-blue);
    font-size: var(--fs-700);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 17px;
}

.description{
    color: var(--gray-200);
    font-size: var(--fs-500);
    line-height: 26px;
    margin-bottom: 20px;
}

.plan-section{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--blue-50);
    width: 354px;
    height: 98px;
    border-radius: 11px;
    padding: 25px 24px;
    margin-bottom: 32px;
}

.plan-section > p {
    font-weight: var(--fw-extra-bold);
    color: var(--blue-800);
    font-size: var(--fs-500);
}

span{
    font-weight: var(--fw-medium);
    color: var(--gray-200);
}

.music-icon{
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.change-link{
    margin-left: auto;
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);
    color: var(--blue-500);
}

.change-link:hover{
    cursor: pointer;
    color: var(--blue-300);
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.payment-btn{
    padding: 15px 102px;
    background-color: var(--blue-500);
    color: white;
    border: none;
    border-radius: 11px;
    font-size: var(--fs-200);
    font-weight: var(--fw-extra-bold);
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.payment-btn:hover{
    background-color: var(--blue-300);
    cursor: pointer;
}

.cancel-btn{
    color:var(--gray-200);
    font-size: var(--fs-200);
    font-weight: var(--fw-extra-bold);
    border: none;
    background-color:inherit;
}

.cancel-btn:hover{
    cursor: pointer;
    color: var(--blue-800);
}


@media (max-width:31.25em){
    
    .card-container{
        width: 327px;
        height: 567px;
        margin: 71px auto 0;
    }

    .main-area{
        padding: 0;
    }

    .card-container >img{
        margin-bottom: 2rem;
    }

    .title, .description{
        padding: 0 2rem;
    }

    .title{
        font-size: var(--fs-600);
        margin-bottom: 1rem;
    }

    .description{
        font-size: var(--fs-200);
        margin-bottom: 1.5rem;
    }

    .plan-section{
        font-size: var(--fs-100);
        width: 279px;
        height: 81px;
        padding: 21px 16px 19px;
        margin-bottom: 1.5rem;
    }

    .change-link{
        font-size: var(--fs-50);
    }

    .buttons{
        font-size: var(--fs-200);
        gap:1.5rem;
    }

    .payment-btn{
        padding: 15px 65px 15px 64px;

    }


}